*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

:root{
    --clr-background: bisque;
    --clr-white: #ffffff;
    --clr-primary: #2d5b3e;
    --clr-dark-gray: #263238;
    --clr-light-gray: #eceff1;

    --font-size: 16px;
    --border-radius: 0.2em;
    --center: 0.5
}

body{
    font-family: Poppins, Helvetica, sans-serif;
}


.background-container{
    background: var(--clr-primary);
    display: flex;
    flex-direction: column;
}

.logo-row img{
    width: 100;
    height: 70;
    display: flex;
    justify-content: space-between;
}

.logo-row{
    display: flex;
    justify-content: space-between;
}

.landing-text-container{
    position: absolute;
    top: 100px;
    left: 50%;
    color: var(--clr-light-gray);
    font-size: 2em;
    /* font-family: Poppins; */
    /* bottom: ; */
}

.name-container{
    display: flex;
    width: auto;
    justify-content: space-evenly;
}

.boldface{
    font-weight:800;
}
