* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-background: #2d5b3e;
    --clr-white: #ffffff;
    --clr-primary: #2d5b3e;
    --clr-dark-gray: #263238;
    --clr-light-gray: #eceff1;
    --clr-complement: #c1a187;
    --font-size: 16px;
    --border-radius: 0.2em;
    --center: 0.5;
}

body, html {
    margin: 0;
    font: bold 14px/1.4 'Poppins', Arial, sans-serif;
    background-image: var(--clr-primary);
    height: 100vh;
    scroll-behavior: smooth;
}

nav {
    width: 100%;
    background: var(--clr-primary);
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
    position: relative;
}


feature-gallery a {
    color: var(--clr-light-gray);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
    display: block;
}

.logo-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.logo-link:hover:after {
    width: 100%;
    left: 0;
}

feature-gallery a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--clr-complement);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;


}



feature-gallery a:hover:after {
    width: 100%;
    left: 0;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content a {
    color: var(--clr-light-gray);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--clr-dark-gray);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + ul {
    display: block;
}

@media (max-width: 768px) {
    ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    li {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        color: var(--clr-light-gray);
    }
}

.background-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 78vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-text-container {
    color: var(--clr-light-gray);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.boldface {
    font-weight: 800;
    text-transform: none;
    margin-right: 5px;
}

.about-us-container{
    background: var(--clr-primary);
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: space-between;
    padding: 2em;
    font-size: 2em;
    color: var(--clr-dark-gray)
}

.regular {
    font-weight: 400;
    text-transform: none;
}

.logo-link {
    text-decoration: none;
    color: var(--clr-light-gray);
    display: flex;
    align-items: center;
}

.slogan {
    margin-top: 10px;
    font-size: 1.5em;
    color: var(--clr-light-gray);
    font-style: italic;
}

/* Section Styles */
section {
    padding: 100px 20px; /* Add padding to offset the fixed nav */
    min-height: 100vh; /* Ensure each section takes up full screen height */
    color: var(--clr-light-gray);
}

.feature-container{
    display:flex;
    gap: 2em;
    padding-top: 2.5em;
    padding-left: 0px;
    position:relative;
    flex-direction: column;
}

.feature-gallery{
    display: flex;
    flex: wrap;
    gap: 2em;
    justify-content: center;


}

.feature-gallery a{
    text-decoration: none;
}

/* unvisited link */
.feature-gallery a:link {
    color: var(--clr-light-gray);
}

/* visited link */
.feature-gallery a:visited {
    color: var(--clr-light-gray);
}

/* mouse over link */
.feature-gallery a:hover {
    color: var(--clr-primary);
}

/* selected link */
.feature-gallery a:active {
    color: var(--clr-light-gray);
}

.feature{
    padding: 0.4em;
    display: flex;
    justify-content: center;
    height: 9em;
    width: 6.4em;
    font-size:1em;
    background: var(--clr-complement);
    border-radius: var(--border-radius);

}


.name-container-big{
    display: flex;
    width: auto;
    gap: 0.13em;
    font-size: 3em;
    justify-content: start;
    color: var(--clr-complement);
}

.section-n{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.transition-container{
    width: vw;
    height: 8em;
}