:root {
    --clr-background: #2d5b3e;
    --clr-white: #ffffff;
    --clr-primary: #2d5b3e;
    --clr-dark-gray: #263238;
    --clr-light-gray: #eceff1;
    --clr-complement: #c1a187;
    --font-size: 16px;
    --border-radius: 0.2em;
    --center: 0.5;
}

.sidebar {
    width: fit-content;
    height: 100vh;
    background-color: #2d5b3e;
    color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    position: relative;
    transition: width background-color border color 0.3s ease;
}

.collapsed {
  width: 80px;
}

.toggleButton {
    position: relative;
    top: 0;
    width: fit-content;
    height: fit-content;
    right: -120px;
    background-color: #2d5b3e;
    color: white;
    padding: 1px;
    cursor: pointer;
    border-radius: 50%;
    transition: right 0.3s ease;
}

.sidebarTitle {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.sidebarTitle img {
  height: 59px;
  width: 72px;
}


.collapsed .sidebarTitle {
  opacity: 0;
}

.sidebarMenu {
  width: 15.42rem;
  display: grid;
  grid-auto-rows: 3rem;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  gap: 10px;

}

.sidebarMenu li {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: inherit;
    font-size: small;
    color: white;
    padding: 10px;
}

.sidebarMenu li a {
  display: flex;
  text-decoration: none;
/*  align-items: center;*/
  margin-bottom: 20px;
  transition: opacity 0.3s ease;
}
.sidebarMenu li a:visited {
  color: white;
}

.sidebarMenu li:hover {
    transform: scale(1.11);
    background-color: white;
    color: #2d5b3e;
}

.sidebarMenu li a:hover {
    transform: scale(1.11);
    color: #2d5b3e;
}

.sidebarMenu li a:hover:visited {
  transform: scale(1.3);
  color: #2d5b3e;
  background-color: white;
}


.sidebarMenu li a span:first-child {
  margin-right: 10px;
  font-size: 24px;
}
 

.collapsed .sidebarMenu li a span:last-child {
  opacity: 0;
  display: none;
}

